<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="index.html">
</head>
<body>
    <!-- Nav Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="index.html">Home</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="Untitled-1.html">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="content.html">Content Us</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">link</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="index.html">Home</a></li>
                  <li><a class="dropdown-item" href="Untitled-1.html">About</a></li>
                  <li><a class="dropdown-item" href="3.html">About</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">link</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <br class="m-0">
          </div>
        </div>
      </nav>
      <div class="m-4"></div>
      <div class="container">
        <div class="row">
          <div class="col-8">
            <div class="jumbotron bg-light">
              <h1 class="display-4 text-warning">Hello World</h1>
              <p class="lead">this is simple hero out</p>
              <hr class="my-4">
              <p>dfsdf opsd disj djagj j 0aj0gw0a 9r ger9jeg9fodj gdgioadjog a didogfjdogfiodgn iriha</p>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control-mr-sm-2" type="search" placeholder="search" aria-label="search">
                <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </div>
          <!-- Lest Group -->
          <div class="col-lg-4">
            <div class="list-group">
              <a data-bs-toggle="collapse" href="#m" class="list-group-item list-group-item-action bg-warning" aria-current="true">Mahmoud !</a>
              <div class="collapse show"id="m">
              <a href="Home.html" class="list-group-item list-group-item-action">Jimm</a>
              <a href="About.html" class="list-group-item list-group-item-action">Gregg</a>
              <a href="content.html" class="list-group-item list-group-item-action">Batik</a>
            </div>
            </div>
          </div>
            </div>
          </div>
          <!-- Card -->
      <div class="card mb-3">
        <img src="..//img/Screenshot 2023-06-17 115143.png" style="width: 100px;" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Jimm</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <p></p>
    </div>
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <form>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>
              <div class="mb-3">
                <label>Text ..</label>
               <textarea class="form-control"></textarea>
              </div>
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
              </div>
              <button type="submit" class="btn btn-warning">Sens</button>
            </form>
          </div>
        </div>
        <div class="col">
          <img src="..//img/Screenshot 2023-06-17 115143.png" class="card-img h-10" alt="...">
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
      <footer class="bg-dark text-white text-center text-lg-start">
        <div class="container p-4">
          <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
              <h5 class="text-warning">footer</h5>
      
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
                molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
                voluptatem veniam, est atque cumque eum delectus sint!
              </p>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase">Links</h5>
      
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#!" class="text-white">Link 1</a>
                </li>
                <li>
                  <a href="#!" class="text-white">Link 2</a>
                </li>
                <li>
                  <a href="#!" class="text-white">Link 3</a>
                </li>
                <li>
                  <a href="#!" class="text-white">Link 4</a>
                </li>
              </ul>
            </div>
            </div>
          </div>
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2020 Copyright:
          <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        </div>
      </footer>
      <script src="/js/bootstrap.js"></script>
</body>
</html>